
<app-header></app-header>
<div class="context">
    
<div class="row mt-1">
    <div class="col-6 mt-8">
       
<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <ul class="list-unstyled f_list">
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <ul class="list-unstyled f_list">
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                </div>
            </div>
        </div>
    </div>
</footer>
    </div>
    <div class="col-5 mt-0">
        <form (ngSubmit)="login()" [formGroup]="loginForm" class="border p-5 mt-5 me-5">
            <h1 class="text-center">Login</h1>            <div class="form-floating mb-3">
                <input name="acno" formControlName="acno" type="text" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Account Number</label>
            </div>
            <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched" class="text-danger mb-2">Invalid Account Number</div>
            <div class="form-floating">
                <input name="pswd" formControlName="pswd" type="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div *ngIf="this.loginForm.get('pswd')?.errors&&this.loginForm.get('pswd')?.touched" class="text-danger mb-2">Incorrect Password</div>
            <br>
            <div class="text-danger" >{{errorMsg}}</div>
            <div style="text-align:center;" class="mt-2 ">
                <a type="submit"  ><button class="glow-on-hover ">Login</button>
                    <span *ngIf="successMsg" class="spinner-border text-dark" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </span>
                </a>
                &nbsp;
                <br>
                &nbsp;
                <br>
                <h2 class="text-primary" >New user?</h2><button class="glow-on-hover" routerLink="/register">Register</button>
            </div>
        </form>
    </div>
</div></div>













