<div *ngIf="item" class="container text-center  mt-5">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 border p-5">
            <h4 class="mt-2 mb-2">Are You Sure ? About deleting this account {{item}} </h4>
            <button (click)="deleteAcc()" class="btn btn-danger">YES</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="cancel()" class="btn btn-success">NO</button>
            <img src="https://cdn.dribbble.com/users/592004/screenshots/2953817/___.gif" height="100px" width="100px">
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>